{% extends "base.html" %}
{% load staticfiles %}

{% block title %}首页{% endblock title %}
{% block css %}
    <script src="{% static "echarts/echarts.min.js" %}"></script>
    <script src="{% static "echarts/echarts-graph-modularity.js" %}"></script>
{% endblock %}
{% block content %}
<!-- Area Chart Example-->
<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-group"></i> 传播路径</div>
    <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM 容器 -->
    <div id="main" align=center style="width: 100%;height:600%;"></div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
{% endblock %}
{% block script %}
    <script src="{% static "js/sb-admin-charts.min.js" %}"></script>
    <script type="text/javascript">
var myChart = echarts.init(document.getElementById('main'));
myChart.showLoading();
$.get("{% static 'data/webkit-dep.json' %}", function (webkitDep) {
    myChart.hideLoading();

    option = {
        legend: {
            data: ['HTMLElement', 'WebGL', 'SVG', 'CSS', 'Other']
        },
        series: [{
            type: 'graph',
            layout: 'force',
            animation: false,
            label: {
                normal: {
                    position: 'right',
                    formatter: '{b}'
                }
            },
            draggable: true,
            data: webkitDep.nodes.map(function (node, idx) {
                node.id = idx;
                return node;
            }),
            categories: webkitDep.categories,
            force: {
                // initLayout: 'circular'
                // repulsion: 20,
                edgeLength: 5,
                repulsion: 20,
                gravity: 0.2
            },
            edges: webkitDep.links
        }]
    };

    myChart.setOption(option);
});
</script>
{% endblock %}
