{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="zh-hans" class="no-js"> <!--<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="食品安全网络舆情分析系统 ">
  <meta name="author" content="">
  <title>食品安全——网络舆情分析系统</title>

  <!-- CSS
  ================================================== -->
  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="{% static "plugins/bootstrap/css/bootstrap.min.css" %}">
  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="{% static "css/style.css" %}">

  <!-- Colors -->
  <link rel="stylesheet" type="text/css" href="{% static "css/colors/blue.css" %}" title="light-green">
</head>

<body id="body">
 <!--
  Start Preloader
  ==================================== -->
  <div id="preloader">
    <div class='preloader'>
    </div>
  </div>
  {% if user.is_authenticated %}
    <section class="hero-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h1 class="wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".3s" >食品安全 <br> 网络舆情分析系统</h1>
                        <ul class="list-inline wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".7s">
                            <li>
                                <a data-scroll href="{% url 'userprofile:userlogout' %}" class="btn btn-transparent">退出登录</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% else %}
    <section class="hero-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h1 class="wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".3s" >食品安全 <br> 网络舆情分析系统</h1>
                            <ul class="list-inline wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".7s">
                                <li>
                                    <a data-scroll href="{% url 'userprofile:userlogin' %}" class="btn btn-main">登陆</a>
                                </li>
                                <li>
                                    <a data-scroll href="{% url 'userprofile:userregister' %}" class="btn btn-transparent">注册</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endif %}
  <!-- Main jQuery -->
    <script src="{% static "vendor/jquery/jquery.min.js" %}" ></script>
    <!-- Custom js -->
    <script src="{% static "js/script.js" %}"></script>
</body>
</html>






