{% extends "base.html" %}
{% load staticfiles %}

{% block title %}首页{% endblock title %}
{% block css %}
    <script src="{% static "echarts/echarts.min.js" %}"></script>
{% endblock %}
{% block content %}
<!-- Area Chart Example-->
<div id="show" class="card mb-3">
  <div class="card-header">
    <i class="fa fa-pie-chart"></i> Sentiment Analysis</div>
    <br>
    <br>
    <br>
    <textarea id="input1" class="form-control" rows="16">输入要分析的文本内容...</textarea>
    <br>
    <br>
    <br>
{#    <button id="submit" type="button" >提交</button>#}
{#    <div id="myDiv"><h2>通过 AJAX 改变文本</h2></div>#}
    <button id="b01" type="button">提交</button>
  <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
{% endblock %}
{% block script %}
{# <script>#}
{# $('#submit').on('click', function() {#}
{#     layer.open({#}
{#         type: 1,#}
{#         skin: 'layui-layer-rim', //加上边框#}
{#         area: ['90%', '75%'], //宽高#}
{#         content: 'nihao'#}
{#     });#}
{# });#}
{# </script>#}
<script type="text/javascript">
$(document).ready(function(){
  $("#b01").click(function(){
  htmlobj=$.ajax({url:"{% url "datamanager:weibosentiment" %}",async:false});
  $("#show").html(htmlobj.responseText);
  });
});
</script>
{% endblock %}

