{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-hans">     
    <head>
    <meta charset="utf-8">
    <title>注册页</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>食品安全网络与清分析系统</title>
    <!-- Bootstrap core CSS-->
    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="{% static "vendor/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="{% static "css/sb-admin.css" %}" rel="stylesheet">
    <link href="{% static "css/register-login.css" %}" rel="stylesheet">
    </head>

<body class="bg-dark">
  <div class="container">
    <div class="card card-register mx-auto mt-5">
      	<div class="cont-main clearfix">
		<div class="index-tab">
			<div class="index-slide-nav">
				<a href="{% url 'userprofile:userlogin' %}">登录</a>
				<a href="{% url 'userprofile:userregister' %}" class="active">注册</a>
				<div class="slide-bar slide-bar1"></div>
			</div>
		</div>
      </div>
      <div class="card-body">
        <form action="" method="POST">
          {% csrf_token %}
          <div class="form-group">
                <label for="username">用户名</label>
                <input class="form-control" name="username" id="username" maxlength="150" autofocus required type="text" aria-describedby="nameHelp" placeholder="请输入您的用户名">
          </div>
          {{ user_register_form.errors.username }}
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="realname">姓名</label>
                <input class="form-control" name="realname" maxlength="20" id="realname" type="text" aria-describedby="nameHelp" placeholder="请输入您的姓名">
              </div>
                  {{ user_register_form.errors.user }}
              <div class="col-md-6">
                <label for="phone">手机号码</label>
                <input class="form-control" name="phone" id="phone" type="text" aria-describedby="nameHelp">
              </div>
              {{ user_register_form.errors.phone }}
            </div>
          </div>
          <div class="form-group">
            <label for="email">电子邮箱</label>
            <input class="form-control" name="email" maxlength="254" id="email" type="email" aria-describedby="emailHelp" placeholder="请输入您的电子邮箱">
          </div>
          {{ user_register_form.errors.email }}
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="password1">密码</label>
                <input class="form-control" name="password1" required id="password1" type="password" placeholder="请输入您的密码">
              </div>
              {{ user_register_form.errors.password1 }}
              <div class="col-md-6">
                <label for="password2">确认密码</label>
                <input class="form-control" name="password2" required id="password2" type="password" placeholder="再次输入您的密码">
              </div>
              {{ user_register_form.errors.password2 }}
            </div>
          </div>
          <div>
            <label for="id_验证码_0">验证码</label>
                <div class="form-control">{{ user_register_form.verification }}</div>
                    {{ user_register_form.error.verification }}
                    {% if user_register_form.error.verification %}
                        <p>验证码错误</p>
                    {% endif %}
                </div>
          <button type="submit" class="btn btn-primary btn-block">注册</button>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="{% url 'userprofile:home'%}">返回主页</a>
{#          <a class="d-block small" href="{% url 'datamanager:npolist'%}">返回主页</a>#}
            <br>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
  <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
  <!-- Core plugin JavaScript-->
  <script src="{% static "vendor/jquery-easing/jquery.easing.min.js" %}"></script>
</body>

</html>